@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* Colors */
	--chalked-paper: #f4f4f0;
	--red-light: #cc6677;
	--red-dark: #c71414;
	--gold-light: #fbd297;
	--gold-dark: #ffa50a;
	--green-light: #509981;
	--green-dark: #246b53;
	--blue-light: #5965c9;
	--blue-dark: #2e309e;
	--text-blue: #1f2651;
	--violet-light: #908dc6;
	--violet-dark: #515886;
	--purple-light: #ab74d2;
	--purple-dark: #8b329f;

	--underline-color: black;

	/* Spacing */
	--1u: 6.25vw;
	--halfu: calc(var(--1u) * 0.5);
	--quarteru: calc(var(--1u) * 0.25);
	--eightu: calc(var(--1u) * 0.125);
	--sixteenthu: calc(var(--eightu) * 0.5);
	--sixtyfourthu: calc(var(--sixteenthu) * 0.25);
	--1halfu: calc(var(--1u) + var(--halfu));
	--4u: calc(var(--1u) * 4);
	--4halfu: calc(var(--4u) + var(--halfu));
	--5u: calc(var(--1u) * 5);
	--5halfu: calc(var(--5u) + var(--halfu));
	--6u: calc(var(--1u) * 6);
	--7u: calc(var(--1u) * 7);
	--7halfu: calc(var(--7u) + var(--halfu));
	--8u: calc(var(--1u) * 8);

	--vertical-spacing: var(--halfu);
	--horizontal-spacing: var(--1u);


	/* Corner radius */
	--corner-small: 0.25rem;
	--corner-regular: 0.5rem;
	--corner-medium: 1rem;
	--corner-large: 2rem;
	--corner-xl: 4rem;

	/* Font sizes */
	--font-size-small: 0.85rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.25rem;
	--font-size-xl: 1.7rem;
}

/* Styles */
.xl {
	font-size: var(--font-size-xl);
	letter-spacing: 2%;
}

.thin {
	font-weight: 200;
	letter-spacing: 8%;
}

.bold {
	font-weight: 600;
	letter-spacing: 8%;
}

.underlined {
	text-decoration: underline var(--underline-color);
}

.red {
	color: var(--chalked-paper);
	--underline-color: var(--chalked-paper);
	background-color: var(--red-dark);
	--border-color: var(--red-light);
	
	& .inverted, &.inverted {
		color: var(--red-dark);
		--underline-color: var(--red-dark);
		background-color: var(--chalked-paper);
		--border-color: var(--red-dark);
	}
	
	&:has(.inverted) {
		background-color: var(--red-light);
		--border-color: var(--red-dark);
	}
}

.green {
	color: var(--chalked-paper);
	--underline-color: var(--chalked-paper);
	background-color: var(--green-dark);
	--border-color: var(--green-light);
	
	header&, footer& {
		background-color: var(--green-light);
	}
	
	&.inverted, & .inverted {
		color: var(--green-dark);
		--underline-color: var(--green-dark);
		background-color: var(--chalked-paper);
		
		--border-color: var(--green-dark);
		
		h2& {
			color: var(--green-light);
			--underline-color: var(--green-light);
		}
	}
	
	&:has( .inverted) {
		background-color: var(--green-light);
		--border-color: var(--green-dark);
	}
}
.violet {
	color: var(--chalked-paper);
	background-color: var(--blue-light);
	--underline-color: var(--chalked-paper);
	--border-color: var(--violet-light);
	
	& .inverted, &.inverted {
		color: var(--blue-light);
		background-color: var(--chalked-paper);
		--underline-color: var(--blue-light);
		--border-color: var(--blue-light);
		
		h1&, h2&, p.accent-text& {
			color: var(--violet-light);
			--underline-color: var(--violet-light);
		}
		
		p& {
			color: var(--violet-dark);
			--underline-color: var(--violet-dark);
		}
		
		& a, & a:visited {
			color: var(--blue-light);
		}
	}
	
	&:has(.inverted) {
		background-color: var(--violet-light);
		border-color: var(--blue-light);
	}
	
	&.dark {
		background-color: var(--violet-dark);
	}
	
	button&:active, .button-link&:active {
		background-color: var(--violet-light);
		--border-color: var(--blue-light);
	}
}

.purple {
	color: var(--chalked-paper);
	--underline-color: var(--chalked-paper);
	background-color: var(--purple-dark);
	--border-color: var(--purple-light);

	&.inverted {
		color: var(--purple-dark);
		--underline-color: var(--purple-dark);
		background-color: var(--chalked-paper);
		--border-color: var(--purple-dark);
	}

	button&:active, .button-link&:active {
		background-color: var(--purple-light);
		--border-color: var(--purple-dark);
	}
}

.gold {
	color: var(--gold-dark);
}

.text-blue {
	color: var(--text-blue);
	--border-color: var(--text-blue);
	--underline-color: var(--text-blue);
}

.text-card {
	padding: var(--eightu) var(--quarteru);
	border-top-left-radius: var(--corner-medium);
	border-bottom-left-radius: var(--corner-large);
	border-bottom-right-radius: var(--corner-large);
	border-top-right-radius: 6rem;
	border-left: solid var(--border-color) 0.5rem;
	border-right: solid var(--border-color) 0.25rem;

	& h2, h3 {
		font-size: var(--font-size-large);
		letter-spacing: 16%;
	}

	& p {
		font-size: var(--font-size-small);
	}
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	max-width: 100dvw;
	margin: 0;
	padding: 0;

	background-color: var(--chalked-paper);
	font-family: 'Noto Serif', serif;
}

main {
	box-sizing: border-box;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&.horizontal > section {
		min-width: 0;
		max-width: 50%;
		flex: 1;
	}
}

address {
	font-style: normal;
}

h1 {
	margin: 0;
	font-size: 3.85rem;
	font-weight: 800;
	letter-spacing: 32%;
	
	&.underlined {
		text-decoration: underline solid 8% var(--underline-color);
		text-underline-offset: 13.5%;
	}
	
	&.small {
		letter-spacing: 0%;
	}
}

h2 {
	margin: 0;
	font-size: 2.35rem;
	font-weight: 800;
	letter-spacing: 16%;
	
	&.underlined {
		text-decoration: underline solid var(--underline-color);
		text-underline-offset: 12%;
	}
}

p {
	margin: 0;
	font-size: var(--font-size-large);
}

a.mid-flow {
	font-weight: 700;
}

.display {
	font-family: 'Noto Serif Display', serif;
}

.accent-text {
	font-weight: 600;
	font-style: italic;
}

nav {
	font-family: 'Noto Serif Display', serif;
	font-size: var(--font-size-xl);
	font-weight: 500;
	letter-spacing: 16%;
	
	& a {
		color: var(--chalked-paper);
		text-decoration: none;
	}
	
	& a.current {
		text-decoration: underline solid var(--chalked-paper);
		text-underline-offset: 25%;
	}
	
	& a:hover {
		text-decoration:underline dotted var(--chalked-paper);
		text-underline-offset: 25%;
	}
}

button, a.button-link {
	padding: 1rem 2.75rem 1rem 2rem;
	font-family: 'Noto Serif', serif;
	font-size: var(--font-size-large);
	
	border: none;
	border-top-left-radius: var(--corner-large);
	border-top-right-radius: var(--corner-large);
	border-bottom-right-radius: var(--corner-xl);
	border-bottom-left-radius: var(--corner-regular);
	border-right: solid 1.4rem var(--border-color);
	
	&:hover {
		cursor: pointer;
	}
}

select, input, textarea {
	padding: 1rem 2rem;
	border: solid 0.25rem var(--border-color);
	background-color: var(--chalked-paper);
	
	border-top-left-radius: var(--corner-large);
	border-bottom-left-radius: var(--corner-regular);
	border-bottom-right-radius: var(--corner-xl);
	border-top-right-radius: var(--corner-large);
}

fieldset {
	border: none;
	padding: 0;
}

input[type=radio] {
	padding: 0;
	margin: 0 1ch;
	appearance: none;
	box-sizing: border-box;
	height: 8px;
	aspect-ratio: 1 / 1;
	outline: 2px solid var(--blue-dark);
	outline-offset: 2px;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	
	&:checked {
		background-color: var(--gold-dark);
	}
}

label {
	cursor: pointer;
}

/* Layout */
.spaced-out {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.spaced-evenly {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
}

.horizontal {
	flex-direction: row;
}

.vertical {
	flex-direction: column;
}

.spacing-standard {
	padding: var(--vertical-spacing) var(--horizontal-spacing);
	gap: var(--vertical-spacing) var(--horizontal-spacing);
}

.padding-xs {
	padding: var(--sixteenthu);
}

.margin-xs {
	margin: var(--sixteenthu);
}

.horizontal-padding {
	padding-left: var(--horizontal-spacing);
	padding-right: var(--horizontal-spacing);
}

.horizontal-padding-small {
	padding-left: var(--quarteru);
	padding-right: var(--quarteru);
}

.vertical-padding-small {
	padding-top: var(--halfu);
	padding-bottom: var(--halfu);
}

.top-padding-large {
	padding-top: var(--1u);
}

.large-gap {
	gap: var(--1u);
}

.small-gap {
	gap: var(--quarteru);
}

.no-bottom-padding {
	padding-bottom: 0;
}

.corners-small {
	border-radius: var(--corner-small);
}

address, nav {
	display: grid;
	grid: auto auto/ auto auto;
	gap: 0.75rem 1rem;
}

address {
	width: var(--7halfu);
}

nav {
	width: var(--5u);
}

img {
	object-fit: cover;
	border-radius: var(--corner-small);
	
	&.square {
		aspect-ratio: 1 / 1;
	}
}

.img-grid {
	display: grid;
	grid: 1fr 1fr / 1fr 1fr 1fr;
	gap: var(--sixteenthu);
	
	& img {
		width: 100%;
		height: 100%;
	}
}

.crop-frame {
	flex: 1;
	min-height: 0;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.review-card {
	box-sizing: border-box;
	width: 100%;
	border-radius: var(--corner-regular);
	border-left: 0.25rem solid var(--border-color);
	padding: var(--sixteenthu);
	padding-top: calc(var(--sixtyfourthu) * 3);
	
	& h2 {
		font-family: 'Noto Serif', serif;
		font-size: var(--font-size-medium);
		font-weight: 500;
		letter-spacing: 0%;
		text-decoration: none;
	}

	& img {
		width: 33.3%;
		border-top-left-radius: 3rem;
		border-top-right-radius: var(--corner-xl);
		border-bottom-right-radius: var(--corner-large);
		border-bottom-left-radius: var(--corner-xl);
	}

	& > div {
		gap: var(--sixteenthu);
	}

	& .text-card {
		width: 66.7%;
	}
}

.five-16ths {
	width: var(--5u);
}

.five-point-five-16ths {
	width: var(--5halfu);
}

.seven-point-five-16ths {
	width: var(--7halfu);
}

.eight-16ths {
	width: var(--8u);
}


#feedback-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
	align-items: center;
	gap: 3rem var(--quarteru);
	
	& textarea {
		grid-row-start: span 2;
		align-self: stretch;
	}
}

#info-view {
	width: 50%;
}

#selected-artform-img {
	position: absolute;
	object-fit: cover;
	min-width: 0;
	min-height: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

#calendar {
	width: 50%;
	color: var(--text-blue);
	
	& h2 {
		align-self: center;
	}
	
	& button {
		padding: var(--sixteenthu);
		background: none;
		border: none;
		font-size: 2.35rem;
		
		&:hover {
			font-weight: 900;
		}
	}
	
	& table {
		height: 100%;
		text-align: center;
		border: 2px solid var(--green-dark);
		border-radius: var(--corner-regular);
		border-spacing: 0;
		font-size: var(--font-size-xl);
		
		& th {
			font-weight: 700;
		}
		
		& td {
			color: var(--chalked-paper);
			background-color: var(--green-light);
			border: 1px solid var(--green-dark);
			font-weight: 600;
			cursor: pointer;
			
			&.unavailable {
				color: var(--red-light);
				background-color: var(--text-blue);
				border-color: var(--violet-dark);
				cursor: not-allowed;
			}
			
			&.selected {
				background-color: var(--gold-dark);
			}
		}
	}
}

/* Functional */
.visually-hidden {
	display: none;
}

.debug-border {
	border: 2px var(--green-dark) solid;
}
